// Colores
$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: #f4f4f4;
$text-color: #333;
$link-color: #2980b9;
$link-hover-color: darken($link-color, 10%);

// Fuentes
$font-family: 'Arial', sans-serif;

// Tamaños
$font-size-base: 16px;
$font-size-large: 24px;
$font-size-small: 14px;
$spacing-base: 16px;
$spacing-small: 8px;